<center> 

<font-family= "Wulan">

	<h1> Bienvenue </h1>

	<%= image_url 'https://i.pinimg.com/originals/9b/b2/b5/9bb2b57f4ee54c28e781ef2753ddea24.jpg'
	 alt 'Coco Chanel et Lagarfeld'
	 height ="573.5"
	 width ="400px"
	 %>

</center>


	 