<header>
	<button <div><img src="https://i.pinimg.com/originals/fe/28/79/fe2879c7ed656b16a3d8b8c346f91a74.png" class="favorite styled"
		height ="50 px"
		width ="50px"
        type="button"></div>
	<%=link_to 'Mon Musée', root_path %>
	</button>

	<nav>
		<button class="favorite styled"
        type="button">
		<%= link_to 'Entrer dans le musée', sketches_path %>
		</button>

	</nav>
 </header>